{% extends "base.html" %}
{% block headtitle %}Create Project - Contributing{% endblock %}
{% block title %}Contributing: Create Project{% endblock %}
{% block content %}

    <p>Hello, <b>{{ user.display_name }}</b>.</p>

    <p>Choose your URL.  You can't change this later.</p>

    <form method='post' action='/s/create'>
      <div style='margin: 1.5em 0 1.5em 3em'>http://contributing.appspot.com/<input type='text' name='project' size='15'></div>
      <input type='submit' value='Create' />
    </form>

    <p><small><i>Note:</i> project name must match regexp <tt>/^[a-z][a-z0-9\.\-]*[a-z0-9]$/</tt>.  yes, lowercase.</small></p>

{% endblock %}
