{% extends "base.html" %}
{% block headtitle %}Contributing{% endblock %}
{% block title %}Contributing{% endblock %}
{% block content %}

    <div style='width: 40em; background: #ccc'><p style='font-weight: bold; text-align: center'>Site is new &amp; a work in progress.  Want to <a href='/contributing'>help</a>?</a></div>

    <p>This is <b>Contributing</b>, a community resource dedicated to
      keeping up-to-date information on how to contribute to open
      source projects.</p>

    <p>It gives projects a stable URL which they can put in their
      documentation (and/or <tt>CONTRIBUTING</tt> files) providing an
      abstraction layer, making sure even old downloads of projects
      still contain a pointer to recent information on how to
      contribute.</p>

    <p>Also, this site [will] allow for project take-overs,
      if the original maintainer(s) disappear and don't keep their
      information fresh.</p>

    <p>Example project pages:</p>

    <ul>
      <li><a href="/memcached">http://contributing.appspot.com/memcached</a></li>
      <li><a href="/contributing">http://contributing.appspot.com/contributing</a> &mdash; this site itself</li>
    </ul>

    <p>Also note: this site is explicitly <b>not</b> a social network, a
      collaboration site, nor a version control system.  It is simply
      a wiki of pointers to recent information.  It's hosted on App
      Engine and without a domain name so it doesn't require any money
      to keep running and minimizes risks of it shutting down due to
      lack of funds or forgotten domain name renewals.</p>

    <p>Feel free to <a href='/s/create'><b>create a project page</b></a> or
       <a href='/s/browse'>browse existing projects</a>.</p>

{% endblock %}

