{% extends "base.html" %}
{% block headtitle %}
  {% if project %}
    Contributing to {{ project.display_name|escape }}
  {% else %}
    Project not found - Contributing
  {% endif %}
{% endblock %}
{% block title %}
  {% if project %}
    Contributing to <em>{{ project.display_name|escape }}</em>
  {% else %}
    Project not found
  {% endif %}
{% endblock %}
{% block content %}

{% if project %}

{% if can_edit and not edit_mode %}
[<a href="?mode=edit">edit</a>]
{% endif %}

{% if edit_mode %}
<form method='POST' action='/s/editproject'>
<input type='hidden' name='project' value='{{project_key}}' />
{% endif %}

    <table cellpadding='10' border='0'>
    <tr>
      <td align=right>Project homepage:</td>
      <td>
      {% if edit_mode %}
         <input name='home_page' value="{{ project.home_page|escape }}" size='40' />
      {% else %}
         <a href="{{ project.home_page|escape }}">{{ project.home_page|escape }}</a>
      {% endif %}
      </td>
    </tr>
    <tr>
      <td align=right><nobr>Code repository:</nobr></td>
      <td>
      {% if edit_mode %}
         <input name='code_repo' value="{{ project.code_repo|escape }}" size='40' />
      {% else %}
         <a href="{{ project.code_repo|escape }}">{{ project.code_repo|escape }}</a>
      {% endif %}
      </td>
    </tr>
    <tr valign='top'>
      <td align=right>How to submit patches:</td>
      <td>
      {% if edit_mode %}
        <textarea name='how_to' rows='10' cols='40'>{{ project.how_to|escape }}</textarea>
      {% else %}
        {{ project.how_to|escape }}
      {% endif %}
      </td>
    </tr>

     {% if edit_mode %}
         <tr valign='bottom'>
           <td align=right></td>
           <td><input type='submit' value="Save" /></td>
         </tr>
     {% else %}
         <tr valign='bottom'>
          <td align=right><nobr>Maintainer of this</nobr><br/><nobr>metadata page:</nobr></td>
          <td><a href="{{ project.owner.profile_page_url|escape }}">{{ project.owner.public_name|escape }}</a></td>
         </tr>
         <tr valign='bottom'>
           <td align=right>Last modified:</td>
           <td>{{ project.last_edit_short }}</td>
         </tr>
     {% endif %}

    </table>

{% if edit_mode %}
</form>
{% endif %}
     

{% else %}
  Project doesn't exist.  <a href='/s/create'>Create it</a>?
{% endif %}

{% endblock %}
