{% extends "base.html" %}
{% block headtitle %}
  {% if project %}
    Contributing to {{ project.display_name|escape }}
  {% else %}
    Project not found - Contributing
  {% endif %}
{% endblock %}
{% block title %}
  {% if project %}
    Contributing to <em>{{ project.display_name|escape }}</em>
  {% else %}
    Project not found
  {% endif %}
{% endblock %}
{% block content %}

{% if project %}

    <table cellpadding='10'>
    <tr>
      <td align=right>Project homepage:</td>
      <td><a href="{{ project.home_page|escape }}">{{ project.home_page|escape }}</a></td>
    </tr>
    <tr>
      <td align=right>Code repository:</td>
      <td><a href="{{ project.code_repo|escape }}">{{ project.code_repo|escape }}</a></td>
    </tr>
    <tr>
      <td align=right>Style guide:</td>
      <td><a href="{{ project.style_guide|escape }}">{{ project.style_guide|escape }}</a></td>
    </tr>
    <tr valign='top'>
      <td align=right>How to submit patches:</td>
      <td>{{ project.how_to|escape }}</td>
    </tr>
    <tr valign='bottom'>
      <td align=right>Maintainer of this<br/>metadata page:</td>
      <td><a href="{{ project.style_guide|escape }}">{{ project.style_guide|escape }}</a></td>
    </tr>

    </table>

{% else %}
  Project doesn't exist.  <a href='/s/create'>Create it</a>?
{% endif %}

{% endblock %}
