body {
   font-family: Georgia, serif;
   line-height: 150%;
   margin: 0;
}

#content {
   max-width: 40em;
   margin-top: 2em;
   margin-left: 4em;
}

#topbar {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
}

#topbar a:visited {
  text-decoration: none;
  color: #000;
}

table .f {
  font-weight: bold;
  color: #676;
}
